//
// Custom Buttons Styles
// --------------------------------------------------

// Base styles
// --------------------------------------------------

.btn {
  padding: 13px 28px;
  transition: .3s ease-out;
  font-family: "Noto Sans";

  &:focus,
  &:active,
  &:active:focus{
    outline: none;
  }


  &,
  &:active,
  &.active {
    &:focus,
    &.focus {

    }
  }

  &:hover,
  &:focus,
  &.focus {

  }

  &:active,
  &.active {
    @include box-shadow(none);
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {

  }
}


// Alternate buttons
// --------------------------------------------------

.btn-default {
  @include button-variant-custom($gray-base, $gray-light, $gray-light, $brand-warning, $gray-darker, $gray-darker);
}

.btn-primary {
  @include button-variant-custom($white, $brand-primary, $brand-primary, $white, darken(desaturate(adjust_hue($brand-primary, -11.086956521739125), 3.167452913843867%), 6.862745098039227%), darken(desaturate(adjust_hue($brand-primary, -11.086956521739125), 3.167452913843867%), 6.862745098039227%));
}

// Success appears as green
.btn-success {

}

// Info appears as blue-green
.btn-info {

}

// Warning appears as orange
.btn-warning {
  @include button-variant-custom($gray-base, $brand-warning, $brand-warning, $white, $gray-dark, $gray-dark);
}

// Danger and error appear as red
.btn-danger {

}


// Button Sizes
// --------------------------------------------------

.btn-xs {

}

.btn-sm {
  padding: 13px 20px;
  font-size: 14px;
  line-height: 1.625;
}

.btn-lg {

}


// Button Shapes
// --------------------------------------------------

.btn-rect {
  border-radius: 0;
}


// Button Icon styles
// --------------------------------------------------

.btn{

  &.btn-icon {
    padding-left: 17px;
    padding-right: 17px;

    .icon {
      font-size: 28px;
      line-height: 28px;
      vertical-align: middle;
      transition: 0s;
    }

    &-left{
      .icon{
        float: left;
        padding-right: 10px;
      }
    }

    &-right{
      .icon{
        float: right;
        padding-left: 10px;
      }
    }

  }
}