//
// Comments
// --------------------------------------------------

.comment {
  * + p {
    margin-top: 9px;
  }

  .icon-reply{
    position: absolute;
    top: -57px;
    right: 30px;
  }

  @media (min-width: $screen-xs-min) {
    .icon-reply {
      position: static;
    }
  }
}



// Comments reply
// -------------------------

.comment-reply {
  margin-top: 50px;
}

@media (min-width: $screen-sm-min) {
  .comment-reply {
    margin-top: 30px;
    margin-left: 52px;
  }
}