<section class="section-top-50">
  <aside id="widget-featured-posts-block-2" class="shell">
    <div class="range">
      <div class="cell-lg-6">
        <div class="offset-lg-negative-right-26">
          <div class="post post-variant-1">
            <div class="post-inner"><img class="img-responsive post-image" src="{{globalnews.firstNews.urlToImage}}"
                width="880" height="662" alt="">
              <div class="post-caption">
                <ul>
                  <li><a href="politics.html" target="_blank"><span
                        class="label label-warning">{{globalnews.firstNews.source.name}}</span></a></li>
                </ul>
                <div>
                  <div class="h1"><a href="{{globalnews.firstNews.url}}"
                      target="_blank">{{globalnews.firstNews.title.substr(0,globalnews.firstNews.title.indexOf('-'))}}</a>
                  </div>
                  <div class="post-meta post-meta-hidden-outer">
                    <div class="post-meta-hidden">
                      <div class="icon text-gray icon-lg material-icons-share">
                        <ul>
                          <li><a class="icon fa fa-facebook" href="#"></a></li>
                          <li><a class="icon fa fa-twitter" href="#"></a></li>
                          <li><a class="icon fa fa-google-plus" href="#"></a></li>
                          <li><a class="icon fa fa-linkedin" href="#"></a></li>
                          <li><a class="icon fa fa-pinterest" href="#"></a></li>
                        </ul>
                      </div>
                    </div><a class="post-meta-time" href="politics.html" target="_blank">
                      <time class="htmlme"
                        datetime="{{globalnews.firstNews.publishedAt | date : 'MMM dd, HH:mm'}}">{{globalnews.firstNews.publishedAt | date : 'MMM dd, HH:mm'}}</time></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="cell-lg-6 offset-top-12 offset-lg-top-0 offset-lg-negative-left-26">
        <div class="range">
          <div class="cell-sm-6">
            <div class="offset-lg-negative-right-38 offset-sm-negative-right-23">
              <headline class="post post-variant-1" news="globalnews.headlines[0]"></headline>
              <headline class="post post-variant-1" news="globalnews.headlines[1]"></headline>
            </div>
          </div>
          <div class="cell-sm-6 offset-top-12 offset-sm-top-0">
            <div class="offset-lg-negative-left-14 offset-lg-negative-right-24 offset-sm-negative-left-23">
              <headline class="post post-variant-1" news="globalnews.headlines[2]"></headline>
              <headline class="post post-variant-1" news="globalnews.headlines[3]"></headline>
            </div>
          </div>
        </div>
      </div>
    </div>
  </aside>
</section>
<section class="section-top-26">
  <div class="shell">
    <div class="range text-md-left">
      <div class="cell-lg-8">
        <div class="heading-divider">
            <h2>Recently</h2>
        </div>
        <oneblock class="offset-top-45 range range-sm-center range-lg-left post post-variant-3" 
            blocknews="globalnews.block"></oneblock>
        <inline ng-if="globalnews.inlineList.length > 0" newslist="globalnews.inlineList"></inline>
      </div>
      <div class="cell-lg-4 offset-top-36">
        <div class="range">
          <div class="cell-xs-12 cell-xs-push-5 cell-lg-push-6 offset-top-36">
            <div class="range text-sm-left">
              <sources class="cell-sm-6 cell-lg-12"></sources>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>